@model IEnumerable<ShopBanHang.Models.giay>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}
<style type="text/css">
    .imgbook {
        transition: all 1s ease-in;
        width: 400px;
    }

        .imgbook:hover {
            transform: scale(0.9);
            cursor: pointer;
        }
</style>


<h2 class="text-center">CÁC SẢN PHẨM NỔI BẬT NHẤT</h2>
<hr>
<div class="row text-center">

    <div class="col-sm-4 col-md-4 col-lg-4 col-xs-6">
            <div class="thumbnail">
                <img src="~/ImgGiay/Air1.jpeg"  alt="Thumbnail Image 1"
                     class="img-responsive img-rounded imgbook">
                <div class="caption">
                    <h3>
                        AIR JORDAN 3 RETRO
                    </h3>
                    <p>Sản phẩm bán chạy</p>
                    <p>
                        <a href="https://localhost:44358/Giay/Chitietgiay/15" class="btn btn-warning" role="button">
                            <span class="glyphicon " aria-hidden="true"></span> Chi tiết sản phẩm
                        </a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4 col-xs-6">
            <div class="thumbnail">
                <img src="~/ImgGiay/Nike2.jpeg"  alt="Thumbnail Image 1"
                     class="img-responsive img-rounded imgbook">
                <div class="caption">
                    <h3>
                        NIKE AIR FORCE 1 PLTAFORM
                    </h3>
                    <p>Sản phẩm bán chạy</p>
                    <p>
                        <a href="https://localhost:44358/Giay/Chitietgiay/3" class="btn btn-danger" role="button">
                            <span class="glyphicon " aria-hidden="true"></span> Chi tiết sản phẩm
                        </a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4 col-xs-6 hidden-xs">
            <div class="thumbnail">
                <img src="~/ImgGiay/Nike3.jpeg"  alt="Thumbnail Image 1"
                     class="img-responsive img-rounded imgbook">
                <div class="caption">
                    <h3>
                        NIKE AIR FORCE 1 SHADOW
                    </h3>
                    <p>Sản phẩm bán chạy</p>
                    <p>
                        <a href="https://localhost:44358/Giay/Chitietgiay/4" class="btn btn-primary" role="button">
                            <span class="glyphicon " aria-hidden="true"></span> Chi tiết sản phẩm
                        </a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4 col-xs-6">
            <div class="thumbnail">
                <img src="~/ImgGiay/Nike4.jpeg" alt="Thumbnail Image 1"
                     class="img-responsive img-rounded imgbook">
                <div class="caption">
                    <h3>
                        JORDAN SERIES SE
                    </h3>
                    <p>Sản phẩm bán chạy</p>
                    <p>
                        <a href="https://localhost:44358/Giay/Chitietgiay/6" class="btn btn-primary" role="button">
                            <span class="glyphicon" aria-hidden="true"></span> Chi tiết sản phẩm
                        </a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4 col-xs-6">
            <div class="thumbnail">
                <img src="~/ImgGiay/Nike5.jpeg"  alt="Thumbnail Image 1"
                     class="img-responsive img-rounded imgbook">
                <div class="caption">
                    <h3>
                        NIKE AIR FORCE 2 PLTAFORM
                    </h3>
                    <p>Sản phẩm bán chạy</p>
                    <p>
                        <a href="https://localhost:44358/Giay/Chitietgiay/7" class="btn btn-primary" role="button">
                            <span class="glyphicon" aria-hidden="true"></span> Chi tiết sản phẩm
                        </a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4 col-xs-6 hidden-xs">
            <div class="thumbnail">
                <img src="~/ImgGiay/Air4.jpeg"  alt="Thumbnail Image 1"
                     class="img-responsive img-rounded imgbook">
                <div class="caption">
                    <h3>
                        AIR JORDAN 3 DESERT ELEPHANT
                    </h3>
                    <p>Sản phẩm bán chạy</p>
                    <p>
                        <a href="https://localhost:44358/Giay/Chitietgiay/18" class="btn btn-primary" role="button">
                            <span class="glyphicon " aria-hidden="true"></span> Chi tiết sản phẩm
                        </a>
                    </p>
                </div>
            </div>
        </div>
</div>
