<li>
    <a href="@Url.Action("GioHang","GioHang")"
       style="color:white;font-weight:bold;text-decoration:none;">
        <span class="glyphicon glyphicon-shopping-cart"></span>
        Giỏ Hàng(@ViewBag.TongSoLuong)

    </a>
</li>
