<!DOCTYPE html>
<html>

<head>
    <title>@Page.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <link href="~/Public/plugins/fontawesome-free/css/all.min.css" rel="stylesheet" />
    <link href="~/Public/dist/css/adminlte.min.css" rel="stylesheet" />
    <link href="~/Public/css/LayoutAdmin.css" rel="stylesheet" />
    @RenderSection("header", required: false)
</head>

<body class="hold-transition sidebar-mini">
  
    <!-- Site wrapper -->
    <div class="wrapper">
        <!-- Navbar -->
        <nav class="main-header navbar navbar-expand navbar-white navbar-light">
            <!-- Left navbar links -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
                </li>
                <li class="nav-item d-none d-sm-inline-block">
                    <a href="https://localhost:44358" class="nav-link">TRANG CHÍNH</a>
                </li>
                @*<li class="nav-item d-none d-sm-inline-block">
                    <a href="#" class="nav-link">Contact</a>
                </li>*@
            </ul>

            <!-- Right navbar links -->
            <ul class="navbar-nav ml-auto">
                <!-- Navbar Search -->
                <li class="nav-item">
                    <a class="nav-link" data-widget="navbar-search" href="#" role="button">
                        <i class="fas fa-search"></i>
                    </a>
                    <div class="navbar-search-block">
                        <form class="form-inline">
                            <div class="input-group input-group-sm">
                                <input class="form-control form-control-navbar" type="search" placeholder="Search" aria-label="Search">
                                <div class="input-group-append">
                                    <button class="btn btn-navbar" type="submit">
                                        <i class="fas fa-search"></i>
                                    </button>
                                    <button class="btn btn-navbar" type="button" data-widget="navbar-search">
                                        <i class="fas fa-times"></i>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </li>
            </ul>
        </nav>
              
        <!-- /.navbar -->
        <!-- Main Sidebar Container -->
        <aside class="main-sidebar sidebar-dark-primary elevation-4">
            <!-- Brand Logo -->
            <a href="https://localhost:44358/Admin" class="brand-link">
                <img src="~/Public/dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
                <span class="brand-text font-weight-light">Quản Lý</span>
            </a>

            <!-- Sidebar -->
            <div class="sidebar">
                <!-- Sidebar user (optional) -->
                <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                    <div class="image">
                        <img src="~/Public/dist/img/ADMIN.jpg" class="img-circle elevation-2" alt="User Image">
                    </div>
                    <div class="info">
                        <a href="https://localhost:44358/Admin" class="d-block">Lê Doãn Thái</a>
                    </div>
                </div>

                <!-- Sidebar Menu -->
                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                        <!-- QUẢN LÝ ĐƠN HÀNG -->
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas fa-tachometer-alt"></i>
                                <p>
                                    Quản lý Đơn Hàng
                                    <i class="right fas fa-angle-left"></i>
                                    <span class="badge badge-info right">*</span>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="https://localhost:44358/Admin/DonHang" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Tổng Hợp Đơn Hàng</p>
                                        <span class="badge badge-info right">2</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="https://localhost:44358/Admin/DonHang/Create" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Thêm Đơn Hàng</p>
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <!-- QUẢN LÝ KHÁCH HÀNG -->
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas fa-copy"></i>
                                <p>
                                    Quản Lý Khách Hàng
                                    <i class="fas fa-angle-left right"></i>
                                    <!--icon thông báo số-->>
                                    <span class="badge badge-info right">*</span>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="https://localhost:44358/Admin/KhachHang" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Tổng Hợp Khách Hàng</p>
                                        <span class="badge badge-info right">2</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="https://localhost:44358/Admin/KhachHang/Create" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Thêm Khách Hàng</p>
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <!-- QUẢN LÝ GIÀY -->
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas fa-chart-pie"></i>
                                <p>
                                    Quản Lý Giày
                                    <i class="right fas fa-angle-left"></i>
                                    <span class="badge badge-info right">*</span>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="https://localhost:44358/Admin/Giay/Index" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Tổng Hợp Giày</p>
                                        <span class="badge badge-info right">30</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="https://localhost:44358/Admin/Giay/Create" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Thêm Sản Phẩm Mới</p>
                                    </a>
                                </li>                                
                            </ul>
                        </li>

                        @*<li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas fa-tree"></i>
                                <p>
                                    UI Elements
                                    <i class="fas fa-angle-left right"></i>
                                </p>
                            </a>*@

                            @*<ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="../UI/general.html" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>General</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="../UI/icons.html" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Icons</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="../UI/buttons.html" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Buttons</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="../UI/sliders.html" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Sliders</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="../UI/modals.html" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Modals & Alerts</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="../UI/navbar.html" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Navbar & Tabs</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="../UI/timeline.html" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Timeline</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="../UI/ribbons.html" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Ribbons</p>
                                    </a>
                                </li>*@
                            
                            </ul>
                        @*</li>
                    </ul>*@
                </nav>
                <!-- /.sidebar-menu -->
            </div>
            <!-- /.sidebar -->
        </aside>

        @RenderBody()

        <footer class="main-footer">
            <div class="float-right d-none d-sm-block">
                <b>Cửa hàng giày</b>
            </div>
            <strong>Xin cảm ơn vì đã ghé qua.</strong>
        </footer>

        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
        </aside>
        <!-- /.control-sidebar -->
    </div>
    <!-- ./wrapper -->


    <script src="~/Public/plugins/jquery/jquery.min.js"></script>
    <script src="~/Public/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/Public/dist/js/adminlte.min.js"></script>
    <script src="~/Public/dist/js/demo.js"></script>
    @RenderSection("footer", required: false)
</body>

</html>
